#antti{
    height: 500px;
    max-width: 400px;
    min-width: 300px;
    align-self:flex-start;
    flex: 0 0 50%;
}
#joona{
    height: 500px;
    max-width: 400px;
    min-width: 300px;
    align-self:flex-start;
    flex: 0 0 50%;
}
#ville{
    height: 500px;
    max-width: 400px;
    min-width: 300px;
    align-self:flex-start;
    flex: 0 0 50%;
}
