body{
    margin: 0;
}
section{
  display: flex;
}
  /* Add a black background color to the top navigation */

.topnav {
  background-color: #2c2e39;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
nav{
    flex-basis: 100%;
}

#map { 
    height: 500px;
    width: 100%;
}
header{
    flex-basis: 100%;
}


h2{
    flex-basis: 100%;
}

#end{
    float: right;
}

table{
    flex: 0 0 600px;
    list-style: none;
    text-align-last: left;
    border-collapse: separate;
    border-spacing: 0 1em;
    border: 0px ;
    margin-left: 20px;
    margin-right: 20px;
    overflow-x:auto;
}
th, td{
    padding: 10px;
    margin: 10px;
    background-color: #f0c060;
}

tr{
    outline: 2px #2c2e39 groove;
}
/* @media only screen and (max-width: 900px){
  table{
      flex: 0 0 100%;
      list-style: none;
      text-align-last: left;
      padding: 10px;
  }
} */

#table-scroll {
    height:300px;
    overflow:auto;  
    margin-top:20px;
    flex: 0 0 40%;
}


main{
    width: 100%;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 20px; 
  }
  
  .custom-dropdown select {
    background-color: #1abc9c;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em; 
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    min-width: 255px;
  }
  
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
  .custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  
  .custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
  }
  
  .custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
  }
  
  .custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
  }
  
  .custom-dropdown::after {
    color: rgba(0,0,0,.4);
  }

#weather{
  flex-basis: 250px;
  height: 250px;
  background-color: #2c2e39;
  color: #fff;
  border-radius: 25px;
  text-align: center;
}

#weather-city{
  background-color: blue;
  width: 100%;
  height: 10%;
  
}

#filter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#data{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}