body{
    font-family: 'Rubik';
    margin: 0;
    text-align-last: center;
    justify-content: center;
    background-color: #222E50;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
}
img {
    max-width: 100%;
    height: auto;
}

footer{
    background-color: #2c2e39;
    overflow: hidden;
    margin-top: 20px;
    flex: 0 0 100%;
    text-align-last: left;
}
  
footer h3{
    margin-left: 20px;
}
  /* Add a black background color to the top navigation */

.topnav {
  background-color: #2c2e39;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

nav{
    flex-basis: 100%;
}

#map { 
    height: 700px; 
    max-width: 400px;
    min-width: 300px;
    align-self:flex-start;
    flex: 0 0 50%;
    outline: 10px #7f6791 groove !important;  
    margin-bottom: 100px;
}

header{
    flex-basis: 100%;
}

ul{
    flex: 0 0 50%;
    list-style: none;
    text-align-last: left;
}

h2{
    flex-basis: 100%;
}

table{
    flex: 0 0 50%;
    list-style: none;
    text-align-last: left;
    border-collapse: separate;
    border-spacing: 0 1em;
    border: 0px ;
    margin-left: 20px;
    color: black;
}
th, td{
    padding: 10px;
    margin: 10px;
    background-color: #018E42;
    color: white;
}

tr{
    outline: 2px #2c2e39 groove;
}
@media only screen and (max-width: 1000px){
    table{
        flex: 0 0 100%;
        list-style: none;
        text-align-last: left;
        padding: 10px;
        margin: 0px;
    }
}

