body{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    text-align-last: center;
    justify-content: center;
}
section{
    max-width: 300px;
}
nav{
    margin: 15px;
    flex-basis: 100%;
}

#map { 
    height: 700px; 
    max-width: 400px;
    min-width: 300px;
    align-self:flex-start;
    flex: 0 0 50%;
    
}
header{
    flex-basis: 100%;
}

ul{
    flex: 0 0 50%;
    list-style: none;
    text-align-last: left;
    
}
li{
    padding: 20px;
}
h2{
    flex-basis: 100%;
}

#end{
    float: right;
}